@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }

@import "normalize";
@import "fonts";

// _________________________________________________ section 1
body {
    max-width: 1190px;
    // font-family: sans-serif;
    font-size: 16px;
    background-color: opacity;
    overflow-x: hidden;
    border: 0px;
}
.wrapper-preview {    
    height: 1010px;    
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
}
.adress-line {
    padding-top: 10px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    background-color: #e4bb7a;
}
.maps img {
    padding-left: 11px;
}
.maps a {
    text-decoration: none;
    font-family: "Average", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 800;
    word-spacing: -3px;
    padding-left: 5px;
}
.social {
    height: 13px;
    padding-left: 5px; 
   }
.social svg {
    width: 13px;
}
.twitter {
    height: 13px; 
    padding-right: 8px;
    padding-left: 15px;
    cursor: pointer;
}
.instagram {
    padding-left: 15px;
    cursor: pointer;
}

  // ________________________________________   header
.header {
    height: 5vh;  
   
}
.header .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: black;
    // position: sticky;
    // top: 0;
    // z-index: 100;
}
.logotip img {
    position: absolute;
    top: 25px;
    left: 12px;
}
.wrapper .navigation-container {
    display: flex;
    align-items: center;
    padding-top: 19px;
    text-decoration: none; 
}
.navigation ul {
    display: flex;
    align-items: center;
    
}
.navigation li {
    margin-left: 38px; 
}
.navigation a {
    font-family: "Montserrat-regular", sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.button-menu {
    display: flex;
    margin-left: 19px;
    background-color: transparent;
    border: none;    
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1190px;    
    height: 96vh;
    background-image: url(../img/vine-and-steak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main-content h2 {
    font-family: "WildYouth", sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    word-spacing: 8px;
    color: #e4bb7a;
    margin-bottom: -68px;
    height: 46px;
    margin-top: 22px;
}
.main-content h1 {
    font-family: "Average", sans-serif;
    font-size: 75px;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 14px;
    font-weight: 500;
    padding-bottom: 20px;
    height: 1px;
    margin-top: 65px;
}
.main-content p {
    color: white;
    margin-bottom: 87px;
}
.main-content img {
    position: absolute;
    top: 56%;
}
.main-content .button {
    width: 174px;
    height: 48px;
    background-color: #e4bb7a;
    color: #000;
    font-family: Montserrat-regular;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin-left: 11px;
    margin-top: 9px;
    
}
.scroll-down {
   width: 25px;
   position: absolute;
   bottom: -1%;
    left: 45%;
}

//    ____________________________________ section 2

 .space {
  text-align: center;
  padding-left: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  }
.slider-wrapper {
    position: relative;
    height: 756px;
    margin-top: 47px;
}
// .image-slider {
//     padding-bottom: 70px;
// }

  .image-slider__image {
      text-align: center;
      width: 1190px;
  }
  .image-slider__image img {
      height: 775px;
      opacity: 0.9;
      width: 1190px;
  }
  .gallery__box {
    z-index: 10;
    position: absolute;
    top: 19%;
    width: 397px;
    left: 1%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.gallery__title1 {
    font-family: "WildYouth", sans-serif;
    font-size: 53px;
    color: #e4bb7a;
    font-weight: 500;
    height: 3px;
    margin-bottom: -5px;
}
.gallery__title2 {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    height: 7px;
    margin-bottom: 5px;
}
.gallery__text {
    font-size: 15px;
    color: #fff;
    font-family: "Average", sans-serif;
    line-height: 1.8;
    padding: 10px;
    text-align: left;
    height: 100px;
}
.gold-btn {
    width: 175px;
    height: 45px;
    background-color: #e4bb7a;
    color: #121212;
    font-family: "Montserrat-regular", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline-color: #121212;
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color:#fff;
    font-size: 40px;
}
.image-slider .swiper-pagination {
    position: absolute;
    bottom: 13%;
}
.image-slider .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: #3f3f3f;
    border: 3px solid #e4bb7a;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 18px;        
  }
                            //  <!-- section 3 -->

 .organic-wrapper {
    background-color: #e0e0e0;
    height: 79vh;
    position: relative;
 }
 .organic__social {
    position: absolute;
    top: 40%;
    left: 2%;
 }
.organic__icon {
    border: 1px solid #000;
    border-radius: 50%;
    margin-bottom: 30px;
    padding: 11px;
}
 .organic__icon a {
    color: #000;
 }
 .organic__icon i {
    font-size: 15px;
}
.organic_food {
    width: 730px;
    position: absolute;
    top: 28%;
    left: 20%;
    bottom: 18%;
}
.organic_food::after {
    content: "";
    position: absolute;
    width: 97%;
    height: 92%;
    top: 2%;
    left: 1%;
    border: 1px solid #000;
    z-index: 20;
}


.organic__info {
    background-color: #fff;
    text-align: center;
    padding-top: 40px;
}
.organic__title {
    font-size: 36px;
    font-family: Montserrat-bold,sans-serif;
    text-transform: uppercase;
    color: #1b1b1b;
    margin-top: 50px;
    letter-spacing: 4px;
}
.arrow {
    padding: 11px;
}
.organic__text {
    font-size: 15px;
    font-family: Average,sans-serif;
    color: #4d4d4d;
    line-height: 1.8;
    padding: 6px 72px;
}
.white-btn {
    width: 171px;
    height: 48px;
    color: #121212;
    font-family: Montserrat-regular,sans-serif;
    text-transform: uppercase;
    font-size: 15px;
       font-weight: 700;
    border: 1px solid #000;
    margin: 17px 0 65px -1px;
}